@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.game-page {
    background-color: $bg-page;
    min-height: 100vh;
    color: $white;
    overflow-x: hidden;

    &__hero {
        position: relative;
        height: 50vh;
        background-size: cover;
        background-position: center 20%;
        background-repeat: no-repeat;
        width: 100%;

        @include tablet {
            height: 45vh;
        }

        @include desktop {
            height: 60vh;
        }

        &-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background:
                linear-gradient(
                    to top,
                    $bg-page 0%,
                    $bg-page-40 50%,
                    $bg-page-00 100%
                ),
                linear-gradient(to right, $bg-page-80 0%, $bg-page-20 100%);
        }
    }

    &__hero-container {
        @include container;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding-top: 26px;
        padding-bottom: 32px;

        @include tablet {
            padding-top: 32px;
            padding-bottom: 40px;
        }

        @include desktop {
            padding-top: 40px;
        }
    }

    &__back-btn {
        align-self: flex-start;
        color: $white-90;
        margin-bottom: 16px;
        text-decoration: none;
        font-size: 1rem;
        transition: all 0.2s;
        cursor: pointer;

        span {
            font-size: 1rem;

            @include tablet {
                font-size: 1.2rem;
                margin-bottom: 0px;
            }

            @include desktop {
                font-size: 1.3rem;
            }
        }

        &:hover {
            color: $accent-yellow;
            text-shadow: 0 4px 12px $black-50;
        }
    }

    &__hero-info {
        max-width: 800px;
    }

    &__title {
        font-size: 2.3rem;
        font-weight: 800;
        margin: 15px 0;
        text-shadow: 0 4px 12px $black-50;

        @include tablet {
            font-size: 2.7rem;
        }

        @include desktop {
            font-size: 3.5rem;
        }
    }

    &__meta {
        display: flex;
        gap: 20px;
        justify-content: center;
        font-size: 0.9rem;
        color: $white-50;

        @include tablet {
            font-size: 1.1rem;
        }
    }

    &__genres {
        gap: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__genre-badge {
        background: $accent-yellow-20;
        color: $accent-yellow;
        border: 1px solid $accent-yellow-40;
        padding: 4px 12px;
        border-radius: 6px;
        font-size: 0.85rem;
        font-weight: bold;
    }

    &__content {
        @include container;
        padding-top: 26px;
        padding-bottom: 26px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;

        @include tablet {
            padding-top: 32px;
            padding-bottom: 32px;
            gap: 40px;
        }

        @include desktop {
            padding-top: 40px;
            padding-bottom: 40px;
            gap: 50px;
        }
    }

    &__section-title {
        font-size: 1.5rem;
        margin-bottom: 20px;
        color: $white;

        @include tablet {
            font-size: 1.7rem;
            margin-bottom: 22px;
        }

        @include desktop {
            font-size: 2.2rem;
            margin-bottom: 26px;
        }
    }

    &__text {
        font-size: 1rem;
        line-height: 1.7;
        color: $white-90;
        width: 100%;

        @include tablet {
            font-size: 1.1rem;
        }
    }

    &__main-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        align-items: start;

        @include tablet {
            gap: 28px;
        }

        @include desktop {
            grid-template-columns: 2fr 1fr;
            gap: 40px;
            align-items: start;
        }
    }

    &__description,
    &__details-sidebar {
        background: $white-10;
        border: 1px solid $white-10;
        border-radius: 16px;
        padding: 22px 18px;

        @include desktop {
            padding: 24px;
        }
    }

    &__detail-box {
        display: flex;
        flex-direction: column;
        gap: 14px;

        @include tablet {
            gap: 16px;
        }
    }

    &__detail-item {
        display: flex;
        flex-direction: column;
        gap: 4px;
        border-bottom: 1px solid $white-10;
        padding-bottom: 12px;

        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }

        &.metacritic {
            justify-content: space-between;
            align-items: center;
        }
    }

    &__detail-label {
        font-size: 0.85rem;
        color: $white-50;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    &__detail-value {
        font-size: 1rem;
        color: $white-90;
    }

    &__meta-badge {
        padding: 4px 8px;
        border-radius: 6px;
        font-weight: bold;
        font-size: 1rem;

        &.good {
            background-color: $badge-good-bg;
            color: $badge-good-text;
            border: 1px solid $badge-good-border;
        }
        &.mixed {
            background-color: $badge-mixed-bg;
            color: $badge-mixed-text;
            border: 1px solid $badge-mixed-border;
        }
    }

    &__link {
        color: $accent-yellow;
        text-decoration: none;
        font-size: 0.95rem;
        transition: opacity 0.2s;

        &:hover {
            opacity: 0.8;
        }
    }

    &__loader-text {
        font-size: 1.3rem;
        color: inherit;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);

        @include tablet {
            font-size: 1.5rem;
        }

        @include desktop {
            font-size: 1.8rem;
        }
    }
}
