@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.hero-section {
    width: 100%;
    background:
        linear-gradient(
            to bottom,
            $bg-body-color 0%,
            $black-50 15%,
            $bg-color 100%
        ),
        url('../../assets/bg-image.jpg');
    height: 30vh;
    min-height: 220px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0px 32px;

    @include tablet {
        background-position: center 15%;
        height: 34vh;
        padding: 100px 0px 36px;
    }

    @include desktop {
        height: 40vh;
        background-position: top;
        padding: 24px;
    }

    &__container {
        @include container;
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 10px;

        @include tablet {
            gap: 20px;
        }
    }

    &__title {
        font-size: 2.2rem;
        text-shadow: 2px 2px 4px $black-50;

        @include tablet {
            font-size: 2.7rem;
        }

        @include desktop {
            font-size: 3.5rem;
        }
    }

    &__search-input {
        width: 100%;
        padding: 12px;
        font-size: 1.1rem;
        border-radius: 16px;
        border: 1px solid $white-10;
        background: $black-50;
        color: $white;

        -webkit-appearance: none;
        appearance: none;

        &::-webkit-search-cancel-button,
        &::-webkit-search-decoration,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
            -webkit-appearance: none;
            appearance: none;
        }

        &:focus {
            border-color: $accent-yellow;
        }

        @include tablet {
            padding: 12px 18px;
            font-size: 1.3rem;
        }

        @include desktop {
            max-width: 700px;
            font-size: 1.4rem;
        }
    }

    &__user-container {
        display: none;

        @include desktop {
            position: absolute;
            top: 0px;
            right: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 16px;
        }
    }

    &__user-icon {
        width: 36px;
        height: 36px;
        color: $text-muted;
        transition: color 0.3s ease-in-out;

        &.is-auth {
            color: $accent-yellow;
        }
    }

    &__btn {
        background: transparent;
        min-width: 120px;
        border: 1px solid $modal-border-color;
        color: $text-muted;
        padding: 10px 14px;
        border-radius: 6px;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.2s ease;

        &.logout:hover {
            border-color: $text-error;
            color: $text-error;
        }

        &.sign-in:hover {
            border-color: $accent-yellow;
            color: $accent-yellow;
        }
    }
}
