@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.modal-auth {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($black, 0.7);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    &__container {
        background: $white;
        border: 1px solid grey;
        border-radius: 16px;
        padding: 30px 20px;
        width: 90%;
        max-width: 420px;
        position: relative;
        text-align: center;
        color: $white;
        box-shadow: 0 15px 40px rgba($black, 0.6);
    }
}
