@use '../../utils/mixins' as *;
@use '../../utils/variables' as *;

.sort {
    position: relative;
    width: 100%;
    user-select: none;

    &__container {
        width: 100%;
        padding: 12px 16px 12px 40px;
        font-size: 1rem;
        color: $white;
        background-color: $white-10;
        border: 1px solid $white-10;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.3s;

        @include tablet {
            padding: 16px 20px 16px 44px;
            font-size: 1.2rem;
        }

        @include desktop {
            padding: 12px 16px 12px 40px;
            font-size: 1rem;
        }

        &:hover {
            background-color: $white-20;
            border-color: $white-10;
        }
    }

    &__icon {
        font-size: 1.2rem;
        color: $white-50;
        transform: rotate(0);
        transition: transform 0.3s ease;

        @include tablet {
            font-size: 1.5rem;
        }

        @include desktop {
            font-size: 1.3rem;
        }

        &.open {
            transform: rotateX(180deg);
            color: $accent-yellow;
        }
    }

    &__options {
        position: absolute;
        top: calc(100% + 6px);
        left: 0;
        width: 100%;
        background-color: $bg-dropdown;
        border: 1px solid $white-10;
        border-radius: 10px;
        box-shadow: 0 10px 25px $black-50;
        z-index: 10;
        overflow: hidden;
    }

    &__option {
        padding: 12px 16px;
        font-size: 0.9rem;
        color: $white-90;
        cursor: pointer;
        transition: all 0.2s ease;

        @include tablet {
            padding: 16px 20px;
            font-size: 1.2rem;
        }

        @include desktop {
            padding: 12px 16px;
            font-size: 0.95rem;
        }

        &:hover {
            background-color: $white-10;
            color: $white;
        }

        &.selected {
            color: $accent-yellow;
            background-color: $accent-yellow-05;
            font-weight: 600;
        }
    }
}
