@use '../../utils/mixins' as *;
@use '../../utils/variables' as *;

.game-card {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg-card;
    border: 1px solid $white-10;
    border-radius: 20px;
    padding: 2px 2px 12px;
    text-decoration: none;
    color: inherit;

    @include desktop {
        transform: translateY(0);
        transition: all 0.5s;

        &:hover {
            transform: translateY(-5px);
            border-color: $accent-yellow;
            box-shadow: 0 10px 20px $black-50;
        }
    }

    &__like-btn {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        z-index: 2;
        top: 8px;
        right: 8px;
        background: $black-50;
        border-radius: 50%;
        cursor: pointer;
        color: $accent-yellow;
        transition: transform 0.3s;

        svg {
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            fill: currentColor;
        }

        &:hover {
            transform: scale(1.1);
        }

        @include tablet {
            width: 38px;
            height: 38px;

            svg {
                width: 22px;
                height: 22px;
            }
        }

        @include desktop {
            width: 36px;
            height: 36px;
        }
    }

    &__image {
        width: 100%;
        height: 200px;
        border-radius: 12px;
        margin-bottom: 12px;

        @include tablet {
            height: 230px;
            margin-bottom: 18px;
        }

        @include desktop {
            height: 240px;
            margin-bottom: 16px;
        }
    }

    &__title {
        font-size: 1rem;
        margin-bottom: 8px;
        font-weight: bold;
        padding: 0 6px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        overflow: hidden;
        word-break: break-word;
        overflow-wrap: anywhere;

        @include tablet {
            font-size: 1.1rem;
        }

        @include desktop {
            font-size: 1.2rem;
        }
    }

    &__released,
    &__rating {
        display: none;

        @include desktop {
            display: block;
            margin-bottom: 6px;
            font-size: 1rem;
        }
    }

    &__genre-container {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
        margin-top: auto;
        padding: 12px 6px 0;
    }

    &__genre {
        font-size: 0.65rem;
        background: $white-10;
        padding: 4px 6px;
        border-radius: 6px;
        color: $white-90;

        @include tablet {
            font-size: 0.75rem;
        }
    }
}
